# OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa

# Bundler
.bundle

Carthage
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
# 
# Note: if you ignore the Pods directory, make sure to uncomment
# `pod install` in .travis.yml
#
# Pods/

Example/Pods/Headers/Public/SinchRTC/Sinch/SINVideoController.h

Example/Pods/Headers/Public/SinchService/SINSClientsObserver.h

Example/Pods/Headers/Public/SinchService/SINServiceError.h

Example/Pods/Headers/Public/SinchService/SINSLazyAudioController.h

Example/Pods/Headers/Public/SinchService/SINSLazyCallClient.h

Example/Pods/Headers/Public/SinchService/SINSLazyMessageClient.h

Example/Pods/Headers/Public/SinchService/SINSLazyProxyBase.h

Example/Pods/Headers/Public/SinchService/SINSParameterValidation.h

Example/Pods/Headers/Public/SinchService/SINSServicePersistence.h

Example/Pods/Pods.xcodeproj/xcshareddata/xcschemes/SinchCallingUIKit.xcscheme

Example/Pods/SinchRTC/Sinch.framework/Headers

Example/Pods/SinchRTC/Sinch.framework/Sinch

Example/Pods/Headers/Public/SinchService/SINSClientsObserver.h

Example/Pods/Headers/Public/SinchService/SINServiceError.h

Example/Pods/Headers/Public/SinchService/SINSLazyAudioController.h

Example/Pods/Headers/Public/SinchService/SINSLazyCallClient.h

Example/Pods/SinchService/SinchService/SINService.m

Example/Pods/SinchService/SinchService/SINService.h

Example/Pods/SinchRTC/Sinch.framework/Versions/Current

Example/Pods/SinchRTC/Sinch.framework/Versions/A/Sinch

Example/Pods/Pods.xcodeproj/xcshareddata/xcschemes/SinchCallingUIKit.xcscheme

Example/Pods/SinchRTC/Sinch.framework/Headers

Example/Pods/SinchService/SinchService/SINService.m

Example/Pods/SinchService/SinchService/SINService.h

Example/Pods/SinchRTC/Sinch.framework/Versions/Current

Example/Pods/SinchRTC/Sinch.framework/Versions/A/Headers/SINVideoController.h

Example/Pods/SinchRTC/Sinch.framework/Versions/A/Sinch

Example/Pods/SinchRTC/Sinch.framework/Versions/A/Sinch

Example/Pods/SinchRTC/Sinch.framework/Versions/Current

Example/Pods/SinchRTC/Sinch.framework/Versions/A/Headers/SINForwardDeclarations.h

Example/Pods/Headers/Public/SinchService/SINSParameterValidation.h

Example/Pods/Headers/Public/SinchService/SINSLazyProxyBase.h

Example/Pods/SinchRTC/Sinch.framework/Versions/A/Headers/SINCallClient.h

Example/Pods/SinchRTC/Sinch.framework/Versions/A/Headers/SINCall.h

Example/Pods/SinchRTC/Sinch.framework/Versions/A/Headers/SINAPSEnvironment.h
